@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");

body {
    font-family: "IBM Plex Mono";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #24292e;
    overflow-x: hidden;

}

.home {}

.navbar {
    position: fixed;
    z-index: 500;
    color: black;
    background-color: #efd99a;
    width: 100vw;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100vw;

}

.navbarbrand {
    padding-left: 20px;
}


.menu-items {
    display: flex;
    list-style-type: none;
    margin: 10%;
    padding: 10%;
}

.menu-items li {
    list-style: none;
    padding: 0.5rem;
    font-weight: 400;
}

.menu-items a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.menu-items a:hover {
    border-bottom: 2px solid black;
}



/*title txt*/
.title {

    border-radius: 20px;
    max-width: 550px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #efd99a;
    width: 100%;
    text-align: center;
    animation-name: curie;
    animation-duration: 4s;
}

.title h1 {
    font-size: 2.2rem;
    text-align: center;
}

.title p {

    font-size: 2rem;
}

@keyframes curie {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgbq(253, 245, 0, 1);
    }

}

.container1 {
    width: 100%;
    justify-content: center;
    height: 100vh;
}

.infome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infome2 {
    width: 100%;
    height: 10vh;
    display: flex;
   padding-left: 16vw;

}

.infome2 img {
    padding-top: 10;
    width: 35vh;
    justify-content: center;
}
.infome2 hr {
    height: 1px;
    width: 73vw;
    background-color: #efd99a;
    border-color: #efd99a;
}

.infome3 {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    padding-left: 15vw;

}
.infome3 h1 {
    padding-top: 10vh;
    color: #efd99a;
    padding-left: 5vh;
}   
.infome3 ul{
    padding-left: -450px;
    justify-content: center;
}
.infome3 li {
       margin-top: 30px;
}

.infome3 hr {
    height: 1px;
    width: 73vw;
    background-color: #efd99a;
    border-color: #efd99a;
}

.infome4 {

    width: 100%;
    height: 40vh;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
  
}
.infome4 h1 {
    padding-top: 10vh;
    color: #efd99a;
    padding-left: 25vh;
    
}   
.infome4 ul{
   
    list-style: none;
    
   
}
.infome4 li {
       margin-top: 30px;
       display: inline-block;
       border-right:  2px solid #efd99a;
       padding: 0 2rem;
    }

.infome4 li :hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
    
}
.infome4 li :not(:hover){
    transform: scale(1);
    transition-duration: 0.5s;

}
.infome4 img{
    width: 5vh;
    align-items: center;
    justify-content: center;
}
.cursor2 {
        background: #efd99a;
    
        width: 30px;
        height: 2px;
        
        justify-content: right;


      }
#cursor2{
     
    animation: blink 1s linear infinite;

}
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

.divider1{
    padding-top: 20rem;
    width: 45   vw;
    justify-content: center;
}



.infome5 {
    width: 100%;
    height: 40vh;
    display: flex;
    padding-left: 13vw;
  
}

.infome5 h1 {
    padding-top: 10vh;
    color: #efd99a;
    padding-left: 5vh;
    align-items: center;
}   
.infome5 ul{
    padding-left: -450px;
    list-style: none;
    margin-top: 30px;
      
}
.infome5 li {
       margin-top: 30px;
      
       display: inline-block;
       border-right:  2px solid #efd99a;
       padding: 0 2rem;
}
.infome5 img{
    width: 5vh;
    align-items: center;
    justify-content: center;
}
.infome5 li :hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
    
}
.infome5 li :not(:hover){
    transform: scale(1);
    transition-duration: 0.5s;

}
.infome3 hr {
    height: 1px;
    width: 73vw;
    background-color: #efd99a;
    border-color: #efd99a;
}

.infome6 {
    width: 100%;
    height: 40vh;
    display: flex;
   padding-left: 13vw;  
  
}


.infome6 h1 {
    padding-top: 10vh;
    color: #efd99a;
    padding-left: 5vh;
    align-items: center;
}   
.infome6 ul{
    padding-left: -450px;
    list-style: none;
    margin-top: 30px;
      
}
.infome6 li {
       margin-top: 30px;
      
       display: inline-block;
       border-right:  2px solid #efd99a;
       padding: 0 2rem;
       justify-content: center;
}
.infome6 img{
    width: 5vh;
    align-items: center;
    justify-content: center;
}
.infome6 li :hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
    
}
.infome6 li :not(:hover){
    transform: scale(1);
    transition-duration: 0.5s;

}
.container2 {
   
    width: 100%;
    justify-content: center;
    height: 100vh;

}
.projects {
    padding-left: 13vw;
    padding-top: 13vw;
    color: #efd99a;
    
}

.projects a {
    color: #d2c13d;
}


.Boomboxica {
    padding-top: 13vw;
    color: #efd99a;
    padding-left: 130px;
    text-align: center;

}
.Boomboxica a {
    color: #d2c13d;

}
.Boomboxica img {
    width: 15vw;
    border-radius: 20px 20px;
    margin: 100px;
}
.Boomboxica h2 :hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
 
}
.Radioit {
    padding-top: 13vw;
    color: #efd99a;
    padding-left: 130px;
    text-align: center;

}
.Radioit a {
    color: #d2c13d;

}
.Radioit img {
    width: 10vw;
    border-radius: 20px 20px;
    margin: 100px;
}
.Radioit h2 :hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
 
}
.rule2 hr {
    width: 90vw;
    height: 2px;
    color: #efd99a;
    background-color: #efd99a;
}

.socials{
    text-align: center;
    color: #efd99a;

}
.socials ul {
    list-style: none;
    padding: 0 2rem;
}
.socials li {
    display: inline-block;
    min-width: 6rem;
  text-align: center;

}
.socials img {
    width: 3vw;
}
.foot{
    
    color: #24292e;
    background-color: #efd99a;
    text-align: center;
    width: 100vw;
}
.rule3 hr {
    width: 150vw;
    height: 2px;
    color: #efd99a;
    background-color: #efd99a;
    text-align: center;
    border-color:#efd99a;
    border 
}