@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");

body {
    font-family: "IBM Plex Mono";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #24292e;

}

.home {}

.navbar {
    position: fixed;
    z-index: 500;
    color: black;
    background-color: #fdf500;
    width: 100vw;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100vw;

}

.navbarbrand {
    padding-left: 20px;
}


.menu-items {
    display: flex;
    list-style-type: none;
    margin: 10%;
    padding: 10%;
}

.menu-items li {
    list-style: none;
    padding: 0.5rem;
    font-weight: 400;
}

.menu-items a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.menu-items a:hover {
    border-bottom: 2px solid black;
}



/*title txt*/
.title {

    border-radius: 20px;
    max-width: 550px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fdf500;
    width: 100%;
    text-align: center;
    animation-name: example;
    animation-duration: 4s;
}

.title h1 {
    font-size: 2.2rem;
    text-align: center;
}

.title p {

    font-size: 2rem;
}

@keyframes example {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgbq(253, 245, 0, 1);
    }

}

.container1 {
    width: 100%;
    height: 100vh;
}

.infome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infome2 {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;

}

.infome2 img {
    padding-top: 10;
    width: 35vh;
    justify-content: center;
}

.infome3 {
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 100px;
}
.infome3 h1 {
    padding-top: 10vh;
    color: #fdf500;
    padding-left: 5vh;
    align-items: center;
}   
.infome3 ul{
    padding-left: -450px;
}
.infome3 li {
       margin-top: 30px;
}

.infome4 {
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 100px;
  
}
.infome4 h1 {
    padding-top: 10vh;
    color: #fdf500;
    padding-left: 5vh;
    align-items: center;
}   
.infome4 ul{
    padding-left: -450px;
}
.infome4 li {
       margin-top: 30px;
}
.infome5 {
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 100px;
  
}
.infome5 h1 {
    padding-top: 10vh;
    color: #fdf500;
    padding-left: 5vh;
    align-items: center;
}   
.infome5 ul{
    padding-left: -450px;
}
.infome5 li {
       margin-top: 30px;
}