@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");
body {
  font-family: "IBM Plex Mono";
  background-image: url('wp2528835-yellowstone-national-park-hd-wallpapers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  

}
 .title {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    max-width: 550px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
  
   .title h1 {
    font-size: 2.2rem;
    text-align: center;
  }
  
   .title p {
   
    font-size: 2rem;
  }